<%- include('partials/header'); -%>
    

    <div class="title">
        <div class="titleBox"><h1>Log in</h1></div>

        <a href="/"><div class="backButton">Back</div></a>

    </div>
    
    <div class="topPush"></div>


    <div class="inputField">
        <h1>Username:</h1>
        <input type="text" placeholder="Type here...">

        <h1>Password:</h1>
        <input type="text" placeholder="Type here...">
    </div>

    
  <a href="/"><div class="logInButton">"Log in"</div></a>


<%- include('partials/footer'); -%>