<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- js -->
    <script src="/js/app.js"></script>

</head>
<body>
    

    <div class="title">
        <div class="titleBox"><h1>Log in</h1></div>

        <a href="/index.html"><div class="backButton">Back</div></a>

    </div>
    
    <div class="topPush"></div>


    <div class="inputField">
<h1>Username:</h1>
<input type="text" placeholder="Type here...">

<h1>Password:</h1>
<input type="text" placeholder="Type here...">
</div>
</body>
</html>